.content-block { 
    border:1px solid #eee; 
    padding:3px;
    background:#ccc;
    max-width:250px;
    float:right; 
    text-align:center;
}
.content-block:after { 
    clear:both;
} 
.blue-button { 
    background-color:#33bdef;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #057fd0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    padding:6px 24px;
    text-decoration:none;
}
 
.red-button {
    background-color:#bc3315;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #942911;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    padding:6px 24px;
    text-decoration:none;
}

.blue-background{
    background-color: #ECF4F8;
    padding: 12px;
}
.quote{
    padding-left: 70px;
    margin-top: 30px;
    position: relative;
}

.quote::after{
    content: '';
    display: block;
    position: absolute;
    height: calc(100% - 60px);
    width: 1px;
    background-color: #bcbdbf;
    bottom: 0;
    left: 22px;
}

.quote::before{
    content: url("data:image/svg+xml,%3Csvg width='46' height='37' viewBox='0 0 46 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 37V24.6213C0 19.9963 0.82388 15.7341 2.47164 11.8346C4.1194 7.93505 6.91144 3.9902 10.8478 0L17.9881 5.57721C15.6995 7.84437 13.9602 9.9755 12.7701 11.9706C11.5801 13.9657 10.802 16.0061 10.4358 18.0919H19.2239V37H0ZM26.7761 37V24.6213C26.7761 19.9963 27.6 15.7341 29.2478 11.8346C30.8955 7.93505 33.6876 3.9902 37.6239 0L44.7642 5.57721C42.4756 7.84437 40.7363 9.9755 39.5463 11.9706C38.3562 13.9657 37.5781 16.0061 37.2119 18.0919H46V37H26.7761Z' fill='%2326554A'/%3E%3C/svg%3E");
    display: block;
    position: absolute;
    left: 0;
}