.btn{
    padding: 8px 34px;
    border-radius: 40px;
    font-size: 16px;
    border: none;
    font-weight: 700;
    // font-style: italic;
    // text-transform: uppercase;
    color: #ffffff;
    line-height: 1.625;
    transition: $transition;
    &:hover, &:target, &:focus-visible{
        color: #ffffff;
    }
    &-primary{
        position: relative;
        z-index: 1;

        &:hover{
           &::before {
            opacity: 1 !important;
            width: inherit !important;
          }
        }
        &::before {

          }
          
    }
    &-secondary{
        background: $secondary !important;
        color: $black !important;
        &:hover{
            color: $black !important;
            background: rgba(250, 255, 3, 0.6) !important;
        }
    }
    &-white{
        background: $white;
        color: $black;
    }

    &-link_primary {
        font-weight: 700;
        text-decoration: none;
        font-style: normal !important;
        padding: 0 !important;
        span{
            color: $primary;
            font-size: 14px;
            margin-right: 5px;
            font-style: unset !important;
            padding: unset !important;
            border-radius: unset !important;
        }
        &:hover{

        }
    }

}

.link-text, .arrow-link {
    @extend .btn-link_primary;
    display: flex;
    color: $primary;
    font-size: 14px;
    margin-right: 5px;
    font-style: unset !important;
    padding: unset !important;
    border-radius: unset !important;
}

.btn-arrow-link {
    display: flex;
    align-items: center;
    @extend .btn-link_primary
}