#header{
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    width: 100%;
    z-index: 99;
    .header-wrapper{

        .navigation{
            ul{
                display: flex;
                padding-left: 0;
                list-style-type: none;
                margin-bottom: 0;
                li{
                    a{
                        font-size: 18px;
                        font-weight: 700;
                        text-decoration: none;
                        color: $dark-blue;
                    }
                    &+li{
                        a{
                           padding-left: 60px;
                        }
                    }
                }
            }
        }
        .membership{
            margin-left: 24px;
            padding-left: 24px;
            border-left: 1px solid #B7CED3;
            &-btn{
                font-size: 18px;
                padding: 10px 40px;
                margin-left: 24px;
            }
        }
        .logo-white{
            display: none;
        }
        .logo-black{
            display: block;
        }
    }
    &.white-header{
        .logo-white{
            display: block;
        }
        .logo-black{
            display: none;
        }
        .navigation{
            ul{
                li{
                    a{
                       
                        color: $white;
                    }
                  
                }
            }
        }
        .membership{
            svg{
                path{
                    fill: $white;
                }
            }
           
            &-btn{
               background: $white;
               color: $teal;
            }
        }
    }

}