// $white: white;

// $primary-100: #FF6767;
// $primary-200: #DB2D43;
$teal: #26554A;
$coral: #208999;
$dark-blue: #263546;
$dark-green: #26554A;
$blue: #008A9A;
$orange: #CA7346;
$black: #000000;
$white: #ffffff;

// $secondary: red;

$transition: .3s ease-in-out;

$font-family: 'Nunito Sans';



$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1160px,
  xxl: 1160px
);
// $secondary: yellow;
// $secondary-400: #FFD700;
// $secondary-500: #FCC200;