.cta{
    padding-top: 50px;
    background: linear-gradient(90deg, #DDDDDD 0%, #F1F1F2 100%);
    position: relative;
    z-index: 9;
    border-radius: 30px 30px 0 0;
    margin-top: -30px;
    .images-wrapper{
        position: relative;
        .logo{
            position: absolute;
            left: -30%;
            z-index: 1;
        }
        .person{
            margin-top: -80px;
            position: relative;
            z-index: 5;
        }
        iframe{
            width: 100%;
            // aspect-ratio: 663/373;
            height: 373px;
            position: relative;
            z-index: 99;
            box-shadow: 0px 15px 30px 3px #CACACA;
        }
    }
    .text-wrapper{
        position: relative;
        z-index: 9;
        .circle{
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: linear-gradient(83.4deg, $dark-green -117.42%, $coral 329.09%);
            margin-right: 20px;
        }
        .small-text{
            color: $dark-green;
            font-size: 20px;
        }
        .title{
            margin: 50px 0;
            color: $dark-green;
        }
        .description{
            margin-bottom: 50px;
            color: $dark-blue;
            font-size: 24px;
        }
    }
    &-yt{
        padding-bottom: 170px;
        .images-wrapper{
            .logo{
                left: -10%;
                top: -10px;
            }
        }
    }
}