.list{
    background: #ecf1f3;
    padding-bottom: 65px;
    .title{
        padding-bottom: 24px;
    }
    .list-item{
        padding-bottom: 30px;
        border-bottom: 1px dashed $coral;
        margin-bottom: 30px;
        .description{
            margin-top: 12px;
        }
        &:last-child{
            padding-bottom: 0;
            border-bottom: none;
            margin-bottom: 0;
        }
    }
}